<div ng-if="ver==true">	 
	<form id="frm" name="frm">
		<center>

			Descripcion: <input type="text" name="descripcion" ng-model="of.descripcion" ><br><br>
			Precio: $<input type="number" name="precio" ng-model="of.precio" ><br><br>
			Sucursal:
			 <select ng-model="SucElegida"> 
			 <option ng-repeat="s in Lsucursales" value={{s.nombre}}>{{s.nombre}}</option>
			</select><br><br>   
			<input type="button" class="btn btn-default" ng-click="AltaO(SucElegida)" style="color:black" name="AltaP" value="Dar de alta" >
			<input type="button" class="btn btn-default" ng-click="Volver()" style="color:black" name="Volver" value="Volver" ><br><br>

		</center>
	</form>
</div>

<div ng-if="ver!=true" id="divlogin"><center><h1>Se debe loguear!!</h1></center></div>
    