<div ng-if="ver==true" >
	<form id="frm" name="frm">
		<center>

			Nombre: <input type="text" name="nombre" ng-model="usuario.nombre" disabled><br><br>
			Apellido:<input type="text" name="apellido" ng-model="usuario.apellido" disabled><br><br>
			Direccion:<input type="text" name="direcion" ng-model="usuario.dir" disabled><br><br>
			Mail:<input type="mail" name="mail" ng-model="usuario.mail" disabled><br><br>
			Telefono:<input type="number" name="telefono" ng-model="usuario.tel" disabled><br><br>
			Password:<input type="password" name="password" ng-model="usuario.pass" disabled><br><br>
			<input type="button" class="btn btn-default" ng-click="ElimEmp()" style="color:black" name="ElimEmp" value="Eliminar" >
			<input type="button" class="btn btn-default" ng-click="Volver()" style="color:black" name="Volver" value="Volver" ><br><br>

		</center>
	</form>
</div>


<div ng-if="ver!=true" id="divlogin"><center><h1>Se debe loguear!!</h1></center></div>
    