 
<form id="frm" name="frm">
	<center>
{{usuarioAver}}
		Nombre: <input type="text" name="nombre" ng-model="usuario.nombre" ><br><br>
		Apellido:<input type="text" name="apellido" ng-model="usuario.apellido" ><br><br>
		Direccion:<input type="text" name="direcion" ng-model="usuario.dir" ><br><br>
		Mail:<input type="mail" name="mail" ng-model="usuario.mail" ><br><br>
		Telefono:<input type="number" name="telefono" ng-model="usuario.tel" ><br><br>
		Estado:<select ng-model="usuario.estado" >
			<option value="H">Habilitado</option>
			<option value="D">Deshabilitado</option>
		</select><br><br> 
		Password:<input type="password" name="password" ng-model="usuario.pass" ><br><br>
		Repita la password:<input type="password" name="password2" ng-model="usuario.passRep" ><br><br>
		<input type="button" class="btn btn-default" ng-click="Registrarse()" style="color:black" name="AltaC" value="Dar de alta" >
		<input type="button"  class="btn btn-default" ui-sref="login" style="color:black" name="Volver" value="Volver" ><br><br>

	</center>
</form>
